*.class

# Package Files #
*.jar
*.war
*.ear
/dist/

# NetBeans Specific#
/nbproject/private/
/nbproject/private/private.properties
/build/
/nbbuild/
/dist/
/nbdist/

nbproject/private/*
nbproject/private/
nbproject/private/private.properties
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configurations.xml

# OSX GARBAGE #
*.DS_STORE
